In [53]:
import pandas as pd
import joblib
from sklearn import ensemble, metrics, model_selection
import warnings
import numpy as np
warnings.filterwarnings('ignore')

### import the train and test data

In [54]:
train = pd.read_csv("./data/train.csv")
test  = pd.read_csv("./data/test.csv")

In [55]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### For Simplicity, I will take Age, Pclass, Sex, SibSp and Parch.
### I will also not create any preprocessing pipeline.

In [56]:
train["Age"] = np.round(train['Age'].fillna(train["Age"].mean()),0)
train["Sex"] = train["Sex"].map({"male":0, "female":1})
test["Age"] = np.round(test['Age'].fillna(train["Age"].mean()),0)
test["Sex"] = test["Sex"].map({"male":0, "female":1})

In [57]:
cols = ["Sex", "Age", "SibSp", "Parch", "Pclass"]
y = train["Survived"]
X = train[cols]
test  = test[cols]

In [58]:
trainx, testx, trainy, testy = model_selection.train_test_split(X, y, test_size=0.3)

In [59]:
rf = ensemble.RandomForestClassifier(random_state=2021)
rf.fit(trainx, trainy)

RandomForestClassifier(random_state=2021)

In [60]:
preds = rf.predict(testx)

In [61]:
metrics.accuracy_score(preds, testy)

0.7910447761194029

### I know it is overfitting but that is ok. The main purpose is to deploy it on Azure. 

#### Let me train it on all the data.

In [62]:
model = ensemble.RandomForestClassifier(random_state=2021)
model.fit(X, y)

RandomForestClassifier(random_state=2021)

In [79]:
joblib.dump(model, "flask_app/titanic_model.pkl")

['flask_app/titanic_model.pkl']

In [80]:
model_load = joblib.load("flask_app/titanic_model.pkl")

Enter Sex, Age, SibSp, Parch and Pclass

In [82]:
model_load.predict(np.array([0,34.0,0,0,3]).reshape(1,-1))

array([0], dtype=int64)